.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 666;
    background: var(--palette-black);
    opacity: 0.75;
    color: var(--palette-almond);
}

.loader-text {
    font-size: 2.5rem;
}