@import url(/css/bootstrap.css);
@import url(/css/loader.css);
@import url(/css/notification.css);

:root {
    --palette-black: #0A0908;
    --palette-metal: #22333B;
    --palette-almond: #EAE0D5;
    --palette-khaki: #C6AC8F;
    --palette-brown: #5E503F;
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(icons.woff2) format('woff2');
  }
  
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }